<template>
  <div class="hello">

    <p>
      Escribe el numero de filas y columnas del tablero:
    </p>
    <p>
      <input type="text" v-model="filas" placeholder="Filas">
      <input type="text" v-model="columnas" placeholder="Columnas">
      <button @click="crearTablero">Crear Tablero</button>
      <button @click="crearTriangulo" v-if="tablero.length > 0 && haFinalizado == false">Crear Triangulo</button>
      <button @click="crearSalida" v-if="tablero.length > 0 && haFinalizado == false">Crear Salida</button>
      <button @click="encontrarSalida" v-if="tablero.length > 0 && haFinalizado == false">Encontrar Salida</button>

    </p>

    <table>
      <tr v-for="(fila, index1) in tablero" :key="index1">
        <td v-for="(columna, index2) in fila" :key="index2" :class=" pasos.includes(`${index1} - ${index2}`) ? 'bg-gray' : '' ">
          <!--  print whatever is in propety tablero -->
          {{
            tablero[index1][index2] == "▲" ? "▲"
            :
            tablero[index1][index2] == "Salida" ? "Salida"
              :
              '‎' }}


        </td>
      </tr>
    </table>


    <h1 v-if="haFinalizado == true" class="finalizado">¡El tringulo ha alcanzado la salida en {{ this.ruta.length }} pasos!"
    </h1>
    <p>
      Funcionamiento del agente:
    </p>
    <ol>
      <li>
        Observa el entorno para determinar el estado actual del agente.
      </li>
      <li>
        Considera todas las acciones posibles que el agente puede realizar desde el estado actual.
      </li>
      <li>
        Calcula la utilidad esperada de cada acción posible utilizando la función de utilidad.
      </li>
      <li>
        Elije la acción con la mayor utilidad esperada.
      </li>
      <li>
        Realiza la acción elegida y hace la transición al nuevo estado.
      </li>
    </ol>
  </div>
</template>

<script>


export default {
  name: 'TableroComponent',
  props: {
    msg: String
  },
  data() {
    return {
      filas: 9,
      columnas: 9,
      tablero: [],
      matriz: [],
      triangulo: [],
      salida: [],
      siguienteAccion: "",
      haFinalizado: false,
      contador: 0,
      grafo: {},
      visitados: [],
      cola: [],
      ruta: [],
      pasos: []
    }
  },
  methods: {
    crearTablero() {
      this.haFinalizado = false
      this.ruta = []
      this.pasos = []
      this.tablero = []
      this.matriz = []
      this.triangulo = []
      this.salida = []
      this.siguienteAccion = ""
      this.tablero = []
      this.contador = 0
      this.grafo = {}

      for (let i = 0; i < this.filas; i++) {
        this.tablero.push([])
        this.matriz.push([])
        for (let j = 0; j < this.columnas; j++) {
          this.tablero[i].push(`${i} - ${j}`);
          this.matriz[i].push(`${i} - ${j}`);
        }
      }
    },
    crearTriangulo() {
      if (this.triangulo.length > 0) {
        this.tablero[this.triangulo[0]][this.triangulo[1]] = `${this.triangulo[0]} - ${this.triangulo[1]}`
      }
      //inside a random element put a triangle
      var randomElement1 = Math.floor(Math.random() * this.tablero.length)
      var randomElement2 = Math.floor(Math.random() * this.tablero[randomElement1].length)

      while (randomElement1 == this.salida[0] && randomElement2 == this.salida[1]) {
        randomElement1 = Math.floor(Math.random() * this.tablero.length)
        randomElement2 = Math.floor(Math.random() * this.tablero[randomElement1].length)
      }

      // delete the last element of the array
      this.triangulo.pop()
      this.triangulo.pop()
      this.triangulo.push(randomElement1, randomElement2)

      this.tablero[randomElement1][randomElement2] = "▲"

    },
    crearSalida() {
      if (this.salida.length > 0) {
        this.tablero[this.salida[0]][this.salida[1]] = `${this.salida[0]} - ${this.salida[1]}`
      }
      //inside a random element put a triangle
      var randomElement1 = Math.floor(Math.random() * this.tablero.length)
      var randomElement2 = Math.floor(Math.random() * this.tablero[randomElement1].length)
      while (randomElement1 == this.triangulo[0] && randomElement2 == this.triangulo[1]) {
        randomElement1 = Math.floor(Math.random() * this.tablero.length)
        randomElement2 = Math.floor(Math.random() * this.tablero[randomElement1].length)
      }

      // delete the last element of the array
      this.salida.pop()
      this.salida.pop()
      this.salida.push(randomElement1, randomElement2)


      this.tablero[randomElement1][randomElement2] = "Salida"
    },
    encontrarSalida() {

      // var listaDeAcciones = {
      //   "arriba": [this.triangulo[0] - 1, this.triangulo[1]],
      //   "abajo": [this.triangulo[0] + 1, this.triangulo[1]],
      //   "izquierda": [this.triangulo[0], this.triangulo[1] - 1],
      //   "derecha": [this.triangulo[0], this.triangulo[1] + 1]
      // }

      // var estadoDelMundo = {
      //   "arriba": false,
      //   "abajo": false,
      //   "izquierda": false,
      //   "derecha": false
      // }
      // var listaDeUtilidadesPorAccion = {
      //   "arriba": 0,
      //   "abajo": 0,
      //   "izquierda": 0,
      //   "derecha": 0
      // }
      // console.log(this.contador)

      this.bpp(this.visitados, this.matriz, `${this.triangulo[0]} - ${this.triangulo[1]}`, `${this.salida[0]} - ${this.salida[1]}`, 0);

      this.avanza(this.ruta);

      // const inter = setInterval(() => {
        
        
      //   if (this.haFinalizado == true) {
      //     clearInterval(inter)
      //     return
      //   }
      //   this.contador++
      //   console.log("*******ANTES DE OBSERVAR AMBIENTE********")
      //   console.log('Lista de acciones:', listaDeAcciones, 'Estado del mundo:', estadoDelMundo, 'Lista de utiliad:', listaDeUtilidadesPorAccion, 'Tablero:', this.tablero)

      //   this.observarAmbiente(listaDeAcciones, estadoDelMundo, this.tablero)

      //   console.log("*******DESPUES DE OBSERVAR AMBIENTE Y ANTES DE CONSIDERAR POSIBLES ACCIONES********")
      //   console.log('Lista de acciones:', listaDeAcciones, 'Estado del mundo:', estadoDelMundo, 'Lista de utiliad:', listaDeUtilidadesPorAccion, 'Tablero:', this.tablero)

      //   this.considerarPosiblesAcciones(listaDeAcciones, estadoDelMundo, listaDeUtilidadesPorAccion, this.tablero)

      //   console.log("*******DESPUES DE CONSIDERAR POSIBLES ACCIONES Y ANTES DE CALCULAR UTILIDAD********")
      //   console.log('Lista de acciones:', listaDeAcciones, 'Estado del mundo:', estadoDelMundo, 'Lista de utiliad:', listaDeUtilidadesPorAccion, 'Tablero:', this.tablero)

      //   this.calcularLaUtilidadPorAccion(listaDeAcciones, listaDeUtilidadesPorAccion)

      //   console.log("*******DESPUES DE CALCULAR UTILIDAD Y ANTES DE ELEGIR ACCION********")
      //   console.log('Lista de acciones:', listaDeAcciones, 'Estado del mundo:', estadoDelMundo, 'Lista de utiliad:', listaDeUtilidadesPorAccion, 'Tablero:', this.tablero)

      //   this.elegirAccion(listaDeUtilidadesPorAccion);

      //   console.log("*******DESPUES DE ELEGIR ACCION********")
      //   console.log('Lista de acciones:', listaDeAcciones, 'Estado del mundo:', estadoDelMundo, 'Lista de utiliad:', listaDeUtilidadesPorAccion, 'Tablero:', this.tablero)

      //   this.tomarAccion();
      //   console.log(this.contador)

      //   listaDeAcciones = {
      //     "arriba": [this.triangulo[0] - 1, this.triangulo[1]],
      //     "abajo": [this.triangulo[0] + 1, this.triangulo[1]],
      //     "izquierda": [this.triangulo[0], this.triangulo[1] - 1],
      //     "derecha": [this.triangulo[0], this.triangulo[1] + 1]
      //   }

      //   estadoDelMundo = {
      //     "arriba": false,
      //     "abajo": false,
      //     "izquierda": false,
      //     "derecha": false
      //   }
      //   listaDeUtilidadesPorAccion = {
      //     "arriba": 0,
      //     "abajo": 0,
      //     "izquierda": 0,
      //     "derecha": 0
      //   }
      // }, 600);


      // while (this.haFinalizado == false) {

      // }
      // alert(`El triangulo se ha movido ${this.contador} veces para llegar a la salida`)
    },
    expandir(origen, grafo) {
      let hijos = [];
      
      let x = parseInt(origen.split(' - ')[0]);
      // console.log('x: ', x);
      let y = parseInt(origen.split(' - ')[1]);
      // console.log('grafo1: ', grafo[x]);
      // console.log('grafo2: ', grafo[x].length);
      // console.log('y: ', y);
      if (y < grafo[x].length - 1 && grafo[x][y + 1] !== undefined && !this.visitados.contains(grafo[x][y + 1])) {
        hijos.push(grafo[x][y + 1]);
      }
      if (x < grafo.length - 1 && grafo[x + 1][y] !== undefined && !this.visitados.contains(grafo[x + 1][y])) {
        hijos.push(grafo[x + 1][y]);
      }
      if (y != 0 && grafo[x][y - 1] !== undefined && !this.visitados.contains(grafo[x][y - 1])) {
        hijos.push(grafo[x][y - 1]);
      }
      if (x != 0 && grafo[x - 1][y] !== undefined && !this.visitados.contains(grafo[x - 1][y])) {
        hijos.push(grafo[x - 1][y]);
      }

      return hijos;
    },
    bpp(visitado, grafo, origen, destino, meta) {

      Array.prototype.contains = function (element) {
        return this.indexOf(element) > -1;
      }
      Array.prototype.remove = function (element) {
        let index = this.indexOf(element);
        if (index > -1) {
          this.splice(index, 1);
        }
      }

      if (origen === destino) {
        this.ruta.push(origen);
        return 1;
      }
      else if (meta === 0 || meta == 2) {
        let hijos = this.expandir(origen, grafo);
        // la rama no es solución
        if (hijos.length === 0) {
          this.ruta.remove(origen);
          return 2;
        }
        else if (!visitado.contains(origen)) {
          visitado.push(origen);
          this.ruta.push(origen);
          for (let hijo of hijos) {
            this.ruta.push(hijo);
            meta = this.bpp(visitado, grafo, hijo, destino, meta);
            if (meta === 1) {
              this.ruta.remove(hijo);
              return 1;
            }
            this.ruta.remove(hijo);
          }
          if (visitado.contains(origen)) {
            this.ruta.remove(origen);
            return 2;
          }
        }
      }
      return 0;
    },
    getValidChildren(current, tablero) {
      // Get the current element's coordinates
      const [x, y] = current.split(' - ').map(Number)
      // Get the current element's children
      const children = [
        `${x - 1} - ${y}`,
        `${x + 1} - ${y}`,
        `${x} - ${y - 1}`,
        `${x} - ${y + 1}`
      ]
      // Return the valid children
      return children.filter(child => {
        const [x, y] = child.split(' - ').map(Number)
        return x >= 0 && x < tablero.length && y >= 0 && y < tablero[0].length
      })
    },
    observarAmbiente(listaDeAcciones, estadoDelMundo, tablero) {
      if (this.hasFinalizado == true) {
        return
      }
      console.log("*******observarAmbiente()********")
      // Recorre las casillas adyacentes al triangulo (arriba, abajo, izquierda, derecha) y verifica si son validas para moverse
      for (const key in listaDeAcciones) {
        // console.log(key.toUpperCase())
        // if (listaDeAcciones.hasOwnProperty(key)) {
        const element = listaDeAcciones[key];
        if (element[0] < 0 || element[0] >= tablero.length || element[1] < 0 || element[1] >= tablero[0].length) {
          estadoDelMundo[key] = false
        } else {
          estadoDelMundo[key] = true

        }
        // }
      }
    },
    considerarPosiblesAcciones(listaDeAcciones, estadoDelMundo) {
      if (this.hasFinalizado == true) {
        return
      }
      console.log("*******considerarPosiblesAcciones()********")
      // Si el estado de la accion es false, se elimina de la lista de acciones posibles
      for (const key in estadoDelMundo) {
        // if (estadoDelMundo.hasOwnProperty(key)) {
        const element = estadoDelMundo[key];
        if (element == false) {
          delete listaDeAcciones[key]
        }
        // }
      }
    },
    calcularLaUtilidadPorAccion(listaDeAcciones, listaDeUtilidadesPorAccion) {
      if (this.hasFinalizado == true) {
        return
      }
      console.log("*******calcularLaUtilidadPorAccion()********")
      // Si la salida esta en la siguiente posicion, la utilidad es 100. Si la salida no esta en ninguna de las acciones, la utilidad es 0. Si la accion no esta en la lista de acciones, la utilidad es -100
      for (const key in listaDeUtilidadesPorAccion) {
        if (Object.prototype.hasOwnProperty.call(listaDeAcciones, key)) {
          const element = listaDeAcciones[key];
          if (element[0] == this.salida[0] && element[1] == this.salida[1]) {
            listaDeUtilidadesPorAccion[key] = 100
          } else {
            listaDeUtilidadesPorAccion[key] = 0
          }
        } else {
          listaDeUtilidadesPorAccion[key] = -100
        }
      }
    },
    calcularLaUtilidadPorNodo(nodo) {
      if (this.hasFinalizado == true) {
        return
      }
      nodo = nodo.split(" - ").map(Number)
      console.log("*******calcularLaUtilidadPorNodo()********")
      // Si el nodo es la salida, la utilidad es 100. Si el nodo no es la salida, la utilidad es 0
      if (nodo[0] == this.salida[0] && nodo[1] == this.salida[1]) {
        return 100
        // Si está fuera del tablero, la utilidad es -100
      } else if (nodo[0] < 0 || nodo[0] >= this.tablero.length || nodo[1] < 0 || nodo[1] >= this.tablero[0].length) {
        return -100
      } else {
        return 0
      }
    },
    elegirAccion(listaDeUtilidadesPorAccion) {
      if (this.hasFinalizado == true) {
        return
      }
      console.log("*******elegirAccion()********")
      // Elegir la accion con la utilidad mas alta, si hay mas de una, elegir una al azar
      var listaDeAccionesConUtilidadMasAlta = []
      for (const key in listaDeUtilidadesPorAccion) {
        const element = listaDeUtilidadesPorAccion[key];
        if (element == 100) {
          listaDeAccionesConUtilidadMasAlta = []
          listaDeAccionesConUtilidadMasAlta.push(key)
          this.haFinalizado = true
          break
        } else if (element == 0) {
          listaDeAccionesConUtilidadMasAlta.push(key)
        }

      }
      // console.log('Lista de acciones con utilidad mas alta:', listaDeAccionesConUtilidadMasAlta)
      if (listaDeAccionesConUtilidadMasAlta.length > 1) {
        var randomElement = listaDeAccionesConUtilidadMasAlta[Math.floor(Math.random() * listaDeAccionesConUtilidadMasAlta.length)];
        this.siguienteAccion = randomElement
      } else {
        this.siguienteAccion = listaDeAccionesConUtilidadMasAlta[0]
      }
      console.log('______________________________________Siguiente accion:', this.siguienteAccion)
    },
    tomarAccion() {
      if (this.hasFinalizado == true) {
        return
      }
      console.log("*******tomarAccion()********")
      // Tomar la accion elegida y mueve el triangulo
      this.tablero[this.triangulo[0]][this.triangulo[1]] = ''
      if (this.siguienteAccion == 'arriba') {
        this.triangulo[0]--
      } else if (this.siguienteAccion == 'abajo') {
        this.triangulo[0]++
      } else if (this.siguienteAccion == 'izquierda') {
        this.triangulo[1]--
      } else if (this.siguienteAccion == 'derecha') {
        this.triangulo[1]++
      }
      this.tablero[this.triangulo[0]][this.triangulo[1]] = '▲'
      // Rerender the component
      this.$forceUpdate()
    },
    avanza(ruta){
      for (let i = 0; i < ruta.length; i++) {
        setTimeout(() => {
          this.tablero[this.triangulo[0]][this.triangulo[1]] = ''
          this.triangulo[0] = ruta[i].split(" - ").map(Number)[0]
          this.triangulo[1] = ruta[i].split(" - ").map(Number)[1]
          this.tablero[this.triangulo[0]][this.triangulo[1]] = '▲'
          this.pasos.push(ruta[i])
          console.log('Ruta:', ruta[i])
          this.$forceUpdate()

          if (i == ruta.length - 1) {
            this.haFinalizado = true
          }
        }, 300 * i)
        
      }

      

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
}

a {
  color: #42b983;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  width: 50px;
  height: 50px;
  border: 1px solid #dddddd;
  text-align: center;
}

button {
  cursor: pointer;


}

.finalizado {
  background-color: green;
  color: #fff;
}

.bg-gray {
  background-color: #ccc;
}

</style>
