<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
  <TableroComponent msg=""/>
</template>

<script>
import TableroComponent from './components/TableroComponent.vue'

export default {
  name: 'App',
  components: {
    TableroComponent
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
